/* 기본적인 배경과 폰트에 관련된 설정입니다 */
body {
    background-color:  #F9EBDE;
    font-family: 'Courier New', Courier, monospace;
    line-height: 3.24;
    padding: 40px;
    color:  #815854;
}

h1 {
    color:  #815854;
    border-bottom: 8px solid  #815854;
    padding-bottom: 20px;
}

p {
    font-size: 24px;
    color:  #815854;
}

/* 추가한 스타일 */
ul {
    color:  #815854;
}